<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" media="screen">
</head>
<body>
    <header>
        <div id="navbar">
            <section class="nav-section">
                <h3>Photoshoot Bundles</h3>
                <p>pick your ideal type and size of photoshoot</p>
            </section>
            <section class="nav-section">
                <h3>About Samuel Thomas</h3>
                <p>A decade of photoshoots, preparing for yours</p>
            </section>
        </div>
    </header>
    
    
    <main>
        <h1>Main Page!</h1>

    </main>
    
</body>
</html>