<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <script src="js/home.js" defer></script>
</head>
<body>
    <header>
        <div id="navbar">
            <section class="nav-section">
                <h3>Photoshoot Bundles</h3>
                <p>Select the type and size of photoshoot for you</p>
            </section>
            <section class="nav-section">
                <h3>About Samuel Thomas</h3>
                <p>A decade of photoshoots, preparing for yours</p>
            </section>
        </div>
    </header>
    
    
    <main>
        <section id="hero">
            <section id="hero-images">
                <img src="https://placehold.net/600x400.png" alt="">
                <img src="https://placehold.net/400x600.png" alt="">
                <img src="https://placehold.net/600x400.png" alt="">
                <img src="https://placehold.net/400x600.png" alt="">
                <img src="https://placehold.net/600x400.png" alt="">
                <img src="https://placehold.net/400x600.png" alt="">
                <img src="https://placehold.net/600x400.png" alt="">
                <img id="hero-logo" src="images/logo-black-z.png" alt="">
            </section>
        </section>

        <section id="progress-section">
            <section id="progress-section-steps">
                <section><h3>Choose your Photoshoot</h3></section>
                <img class="progress-arrow" src="images/right-arrow-black.svg" alt="">
                <section><h3>Choose your Date and Place</h3></section>
                <img class="progress-arrow" src="images/right-arrow-black.svg" alt="">
                <section><h3>Meet and Take Photos</h3></section>
            </section>
            <section id="progress-section-checks">
                <img src="" alt="">-
                <img src="" alt="">
                <img src="" alt="">
            </section>
        </section>


        <h2 id="section-title">Choose Your Photoshoot</h2>
        <!-- populates packages from home.js -->
        <section id="photoshoot-container"></section>


        <h2 id="section-title">Choose Your Date and Place</h2>


        <h2 id="section-title">Confirmation</h2>



    </main>
    
</body>
</html>