<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <script src="js/home.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GoogleMapsApiKey %>&callback=initMap"></script>
</head>
<body>
    <header>
        <div id="navbar">
            <section class="nav-section">
                <h3>Photoshoot Bundles</h3>
                <p>Select the type and size of photoshoot for you</p>
            </section>
            <section class="nav-section">
                <h3>About Samuel Thomas</h3>
                <p>A decade of photoshoots, preparing for yours</p>
            </section>
        </div>
    </header>
    
    
    <main>
        <section id="hero">
            <section id="hero-images">
                <img src="https://placehold.net/600x400.png" alt="">
                <img src="https://placehold.net/400x600.png" alt="">
                <img src="https://placehold.net/600x400.png" alt="">
                <img src="https://placehold.net/400x600.png" alt="">
                <img src="https://placehold.net/600x400.png" alt="">
                <img src="https://placehold.net/400x600.png" alt="">
                <img src="https://placehold.net/600x400.png" alt="">
                <img id="hero-logo" src="images/logo-black-z.png" alt="">
            </section>
        </section>

        <section id="progress-section">
            <section id="progress-section-steps">
                <section><h3>Choose your Photoshoot</h3></section>
                <img class="progress-arrow" src="images/right-arrow-black.svg" alt="">
                <section><h3>Choose your Date and Place</h3></section>
                <img class="progress-arrow" src="images/right-arrow-black.svg" alt="">
                <section><h3>Meet and Take Photos</h3></section>
            </section>
            <section id="progress-section-checks">
                <img src="" alt="">-
                <img src="" alt="">
                <img src="" alt="">
            </section>
        </section>


        <div class="section-header">
            <button type="button" class="dropdown-toggle" data-target="photoshoot-container">
                <span class="arrow">▼</span>
            </button>
            <h2 class="section-title">Choose Your Photoshoot</h2>
        </div>
        <div class="collapsible-section" id="photoshoot-container-wrapper">
            <!-- populates packages from home.js -->
            <section id="photoshoot-container"></section>
        </div>


        <div class="section-header">
            <button type="button" class="dropdown-toggle" data-target="scheduler-container">
                <span class="arrow">▼</span>
            </button>
            <h2 class="section-title">Choose Your Date and Place</h2>
        </div>
        <div class="collapsible-section" id="scheduler-container-wrapper">
            <section id="scheduler-container">
                <h3>Choose the Photoshoot Date</h3>
                <section id="date-section">
                    
                </section>

                <h3>Choose the Photoshoot Place</h3>
                <section id="scheduler-section">
                    <div id="location-list">
                        <ul>
                        <li data-lat="40.7580" data-lng="-73.9855">Times Square</li>
                        <li data-lat="40.7061" data-lng="-74.0086">Wall Street</li>
                        <li data-lat="40.7308" data-lng="-73.9973">Washington Square Park</li>
                        </ul>
                    </div>
                    <div id="map"></div>
                </section>
            </section>
        </div>


        <div class="section-header">
            <button type="button" class="dropdown-toggle" data-target="confirmation-container">
                <span class="arrow">▼</span>
            </button>
            <h2 class="section-title">Confirmation</h2>
        </div>
        <div class="collapsible-section" id="confirmation-container-wrapper">
            <section id="confirmation-container">
                <h3>Package</h3>
                <h3>Date and Time</h3>
                <h3>All set!</h3>
            </section>
        </div>



    </main>
    
</body>
</html>