@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /* Header font */
  --header-font: "Playfair Display", serif;

  /* Paragraph fonts (Lato variants) */
  --paragraph-thin-normal: "Lato", sans-serif;
  --paragraph-light-normal: "Lato", sans-serif;
  --paragraph-regular-normal: "Lato", sans-serif;
  --paragraph-bold-normal: "Lato", sans-serif;

  --paragraph-thin-italic: "Lato", sans-serif;
  --paragraph-light-italic: "Lato", sans-serif;
  --paragraph-regular-italic: "Lato", sans-serif;
  --paragraph-bold-italic: "Lato", sans-serif;
}

/* 
  Italic available for both fonts
  Lato font-weight key:
  100 = Thin
  300 = Light
  400 = Regular
  700 = Bold
*/


h1, h2, h3 {
    font-family: var(--header-font);
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: var(--paragraph-regular-italic);
    font-size: .64rem;
    font-style: italic;
}

#navbar {
  padding-top: 6px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav p {
    font-style: italic;

    margin-top: 0px;
}

main {

}

li {
  font-size: .675rem;
}

#section-title {
 text-align: center;
 margin-top: 20px;
}


/****** HERO *****/
#hero-images {
  width: 100vw;             /* full viewport width */
  height: 250px;            /* container height */
  overflow: hidden;         /* hides excess images */
  display: flex;            /* horizontal layout */
  justify-content: center;  /* center content horizontally */
  align-items: center;      /* center content vertically */
  box-sizing: border-box;   /* avoid extra width issues */
  margin: 0;
  padding: 0;
}

#hero-images img:not(:last-child)  {
  height: 100%;    /* all images same height as container */
  width: auto;     /* scale width proportionally */
  object-fit: cover; /* ensures cropping if needed */
  flex-shrink: 0;  /* prevent shrinking when flex container is smaller */
  opacity: 0;      /* initial opacity */
  transition: opacity 0.75s; /* fade transition */

}

#hero-logo {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%); /* adjust for element's own size */
  max-height: 87.5px;

  opacity: 1;
  z-index: 2;
}


/****** PROGRESS *****/
#progress-section-steps {
  display: flex;
  justify-content: space-around;
  margin: 20px 60px;
}

.progress-arrow {
  max-height: 15px;
}

/****** PHOTOSHOOT SECTION *****/
.ps-card {
  text-align: center;
  margin: 20px 60px;
}

.ps-card-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.ps-images-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ps-images-column img {
  max-width: 100%;
  border-radius: 4px;
  max-height: 100px;
  object-fit: contain;
}